[submodule "third-party/sage-mem"]
	path = third-party/sage-mem
	url = https://github.com/gezi-wen/sage-mem.git
	branch = main
[submodule "third-party/dsh-super-injector"]
	path = third-party/dsh-super-injector
	url = https://github.com/yjh051108/dsh-super-injector.git
	branch = main
